*{
    box-sizing: border-box;
}

.mainCointainer{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.heading{
    height: 41px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.045em;
    color: #333333;
    align-items: center;
    text-align: center;
    
    
}

.ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width :70vh;
    height: 35px;
    margin-top: 55px;
}

.li{
    height: 17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    margin-left: 30px;
    list-style-type: none;
    margin-bottom: -18px;
    align-items: center;
}

.li::after{
    content: "";
    width: 0%;
    background: #2F80ED;
    border-radius: 4px 4px 0px 0px;
    height: 3px;
    display: block;
    margin-top: 14px;
}

.li:hover::after{
    width: 100%;
    height:4px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}

.input{
    width: 50vh;
    margin: 15px;
    height: 60px;
    border-width:2px;
    padding-left: 10px;
    border-radius: 12px;

}

input:hover{
    border: 2px solid #BDBDBD;
}

.btn-width{
    font-family: 'Montserrat';
    font-weight: 700;
    height: 60px;
    width: 15vh;
    background: #2F80ED;
    box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
    border-radius: 15px;
    border-width: 0px;
    font-size: 15px;
    color: #FFFFFF;
    margin-left: 10px;
    line-height: 17px;
}

.btn-width:hover{
    height: 63px;
}

.checkbox{
    height:25px; 
    width:25px;
    margin-left: 15px;
    border-radius: 10px;
    border: 3px solid #828282;
}

.createdContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
} 

.labelElement{
    font-family: 'Montserrat';
    font-weight: 500;
    margin-left: 10px;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    line-height: 22px;
    color: #000000;
    
}

.text{
    text-decoration: line-through;
}

.buttonImg{
    
    font-size: 24px;
    /* margin-top: 10px; */
    margin-right: 20px;
    padding: 3px;
    cursor: pointer;
}

.buttonContainer{
    display: flex;
    justify-content: end;
}

.button1{
    font-family: 'Montserrat';
    display:none;
    height: 40px;
    width:auto;
    font-size: 13px;
    font-weight: 700;
    border: 0px;
    padding: 5px 20px;
    background: #EB5757;
    border-radius: 7px;
    margin-right: 10px;
    color: #FFFFFF;
}
.hidden{
    visibility: hidden;
}

.icons{
    margin-right: 5px;
    font-size: 13px;
}
